<div class="matches-container">
  <div class="header">
    <h2>{{ 'TOURNAMENT_DETAIL.MATCHES.TITLE' | translate }}</h2>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      {{ 'TOURNAMENT_DETAIL.MATCHES.CREATE' | translate }}
    </button>
  </div>

  <div class="empty-state">
    <mat-icon>sports</mat-icon>
    <h3>{{ 'TOURNAMENT_DETAIL.MATCHES.EMPTY_TITLE' | translate }}</h3>
    <p>{{ 'TOURNAMENT_DETAIL.MATCHES.EMPTY_MESSAGE' | translate }}</p>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      {{ 'TOURNAMENT_DETAIL.MATCHES.CREATE' | translate }}
    </button>
  </div>
</div>

