<h2 mat-dialog-title>{{ 'PLAYERS.CREATE.TITLE' | translate }}</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="content" style="margin-top: 1rem;">
    <mat-label>{{ 'PLAYERS.CREATE.FIRSTNAME_LABEL' | translate }}</mat-label>
    <input
      matInput
      [(ngModel)]="playerFirstname"
      [placeholder]="'PLAYERS.CREATE.FIRSTNAME_PLACEHOLDER' | translate"
      [disabled]="loading()"
      (keyup.enter)="createPlayer()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="content" >
    <mat-label>{{ 'PLAYERS.CREATE.LASTNAME_LABEL' | translate }}</mat-label>
    <input
      matInput
      [(ngModel)]="playerLastname"
      [placeholder]="'PLAYERS.CREATE.LASTNAME_PLACEHOLDER' | translate"
      [disabled]="loading()"
      (keyup.enter)="createPlayer()"
    />
  </mat-form-field>

  <app-club-autocomplete
    [(ngModel)]="playerClub"
    [disabled]="loading()"
    label="CLUB.LABEL"
    cssClass="content"
  ></app-club-autocomplete>

  <div class="gender-selection">
    <label>{{ 'GENDER.LABEL' | translate }}</label>
    <mat-radio-group [(ngModel)]="playerGender" [disabled]="loading()">
      <mat-radio-button [value]="Gender.Male">{{ 'GENDER.MALE' | translate }}</mat-radio-button>
      <mat-radio-button [value]="Gender.Female">{{ 'GENDER.FEMALE' | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>

  @if (error()) {
    <div class="error-message">
      {{ error() }}
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="loading()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    (click)="createPlayer()"
    [disabled]="loading() || !playerFirstname.trim() || !playerLastname.trim()"
  >
    @if (loading()) {
      <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
    } @else {
      {{ 'COMMON.ADD' | translate }}
    }
  </button>
</mat-dialog-actions>

