@use '@angular/material' as mat;

html {
    @include mat.theme((
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: -2,
    ));
  }



